<div class="mb-4">
    <label class="block text-lg font-medium text-gray-700" for="length"
        >Longitud: <span id="lengthValue">12</span></label
    >
    <input
        type="range"
        id="length"
        name="length"
        min="4"
        max="32"
        value="12"
        class="w-full"
    />
</div>

<div class="space-y-3">
    <label class="flex items-center text-lg">
        <input type="checkbox" id="uppercase" name="uppercase" checked class="mr-2" /> Mayúsculas
    </label>
    <label class="flex items-center text-lg">
        <input type="checkbox" id="lowercase" name="lowercase" checked class="mr-2" /> Minúsculas
    </label>
    <label class="flex items-center text-lg">
        <input type="checkbox" id="numbers" name="numbers" checked class="mr-2" /> Números
    </label>
    <label class="flex items-center text-lg">
        <input type="checkbox" id="symbols" name="symbols" checked class="mr-2" /> Símbolos
    </label>
</div>
